<h1>Content</h1>
<p><i>These are the geographical content bits linked to the interaction platforms.</i></p>
<% for article in @articles %>
  <p>
  	<h3><%= article.name %></h3>
	<p>
    <%= link_to 'Show', article %>
     | <%= link_to 'Edit', edit_article_path(article) %>
     | <%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>
	</p>
  
<% end %>

<br />

<%= link_to 'New article', new_article_path %>
